@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  z-index: 1;
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  margin: 1px auto;
  padding: 10px;
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  margin: 150px auto 0px;
  height: 65vh;
  color: #eee;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 10%);
  -webkit-transform: translate(-50%, 10%);
  -moz-transform: translate(-50%, 10%);
  -ms-transform: translate(-50%, 10%);
  -o-transform: translate(-50%, 10%);
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 100%);
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  -o-transform: translate(-50%, 100%);
}

.between {
  font-size: 1.4rem;
  position: absolute;
  top: 4rem;
  right: 4rem;
}

.again {
  margin: 10px auto;
  padding: 1px;
  position: absolute;
  top: 2rem;
  left: 8rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.message-edit {
  margin-bottom: 7rem;
  line-height: 3rem;
  height: 4rem;
  text-align: center;
}

.label-score {
  margin-bottom: 2rem;
}

.losing {
  width: 450px;
  height: 550px;
  display: grid;
  font-size: 5em;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #393349;
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.4s 0.1s linear all;
  -webkit-transition: 0.4s 0.1s linear all;
  -moz-transition: 0.4s 0.1s linear all;
  -ms-transition: 0.4s 0.1s linear all;
  -o-transition: 0.4s 0.1s linear all;
}

.losing button {
  cursor: pointer;
  margin: auto;
  width: 300px;
  font-size: 3rem;
  padding: 10px;
  color: #fff;
  border: none;
  background-color: #586d9f;
  box-shadow: inset 0px 0px 9px 2px #817d7d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
